/*   --- root css --- */

@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --container: 90rem;
  --font-size: 100%;
  --font-color: #bcbcbc;
  --H1: 3rem;
  --H2: 3rem;
  --H3: 1.1rem;
  --H5: 0.9375rem;
  --H6: 0.8125rem;

  --nav-bckground: #2c2c2c;
  --nav-font_size: 1.1rem;

  --par: 1rem;
  --clr-body: #303030;
  --clr-nav: #2b2d31;
  --clr-tatoo: #ffffff;
  --clr-hero__beauty: #ffffff;
  --clr-detail: #989c32;
  --clr-H1: #ffffff;
  --clr-H2: #ffffff;
  --clr-H3: #ffffff;
  --clr-H4: #ffffff;
  --clr-p: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.home {
  background-color: var(--clr-body);
  color: var(--font-color);
}

.page__container {
  /* border: 1px solid black; */
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.536); */
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* globalni nastaveni fontu */
h2,
h3 {
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h2 {
  font-size: var(--H2);
  font-family: Georgia, "Times New Roman", serif;
}

h3 {
  font-size: var(--H3);
  font-family: "Open Sans", sans-serif;
}

.navbar {
  position: sticky;
  max-width: 1024px;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  background-color: var(--nav-bckground);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.488);
  margin-bottom: 10px;
  z-index: 100;
}

.navbar__brand {
  font-family: "Corinthia", cursive;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -3px;
  padding-inline: 0.5em;
  position: absolute;
  top: 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.654);
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.navbar__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__item {
  padding-inline: 1em;
}

.navbar__item a {
  color: var(--clr-p);
  font-size: var(--nav-size);
  padding-inline: 0.5em;
  transition: border-bottom 0.25s;
  border-color: var(--nav-bckground);
}

.navbar__item a:hover {
  border-bottom: 1px solid var(--clr-detail);
}

.section--hero {
  height: calc(100dvh - 70px);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.488);
  background-color: var(--nav-bckground);
}

.hero__tattoo,
.hero__beauty {
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.hero__beauty {
  background-color: #a2a2a2;
  color: #2c2c2c;
}

.section__content,
.section__image {
  flex-basis: 50%;
  margin: 1.5em;
}

.section__content h2 {
  margin-bottom: 0.3em;
}

.section__content h3 {
  margin-bottom: 0.7em;
  line-height: 1.5;
}

.section__image {
  background-color: #505050;
  opacity: 0.9;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
}

.section__image .image__banner {
  position: absolute;
  background-color: #000000ea;
  color: white;
  text-indent: 1em;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: background-color, box-shadow 0.25s;
  z-index: 100;
}

.section__image .image__about {
  background-color: #000000da;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90%;
  padding: 2em;
}
.image__about.about--top,
.image__about.about--bottom {
  display: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.section__image .image__about h3 {
  line-height: 1.5;
  color: var(--font-color);
}

.section__image .image__banner:hover {
  transition: box-shadow 0.1s;
  box-shadow: 1px 1px 4px #060012ea;
}

.section__image .image__banner:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 1px #060012ea;
}

/* .hero__tattoo .section__image {
  background-image: url("/assets/img/IMG_9335_big.jpeg");
}

.hero__beauty .section__image {
  background-image: url("/assets/img/IMG_9337_big.jpeg");
} */

/* mediaqueries */
@media screen and (max-height: 850px) {
  .section--hero > * {
    height: calc(100dvh - 70px);
    min-height: 450px;
  }
}
