/*   --- root css --- */

@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* css variables */
:root {
  --container: 64rem;
  --font-size: 100%;
  --H1: 4rem;
  --H2: 2.9rem;
  --H3: 1rem;
  --p: 0.9rem;
  --a: 0.9rem;

  --clr-font: #bcbcbc;
  --clr-body: #303030;
  --clr-primary: #2b2d31;
  --clr-second: #8f8d8d;
  --clr-detail: gold;
  --black-gradient: #1e1e1e;
  --white-gradient: #d2d2d2;
}

.home {
  background-color: var(--clr-body);
  font-size: var(--font-size);
  color: var(--clr-font);
}

hr {
  border: 1px solid rgba(110, 110, 110, 0.76);
  margin-bottom: 20px;
}

.page__container {
  position: relative;
  max-width: var(--container);
  min-width: 18.75rem;
  width: 100%;
  margin: 0 auto;
}

/* globalni nastaveni fontu */
h1,
h2,
h3,
p,
a {
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h2 {
  font-size: var(--H2);
  font-family: Georgia, "Times New Roman", serif;
  margin-bottom: 0.3em;
}

h3 {
  font-size: var(--H3);
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.2em;
  line-height: 1.6;
}

p,
a {
  font-family: "Open Sans", sans-serif;
  font-size: var(--p);
}

.navbar {
  position: sticky;
  max-width: inherit;
  min-width: inherit;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  background: var(--clr-primary);
  background: linear-gradient(
    138deg,
    var(--black-gradient) 0%,
    var(--clr-primary) 60%
  );
  box-shadow: 1px 1px 4px var(--black-gradient);
  margin-bottom: 10px;
  z-index: 100;
}

.navbar__brand {
  font-family: "Corinthia", cursive;
  font-size: var(--H1);
  font-weight: 300;
  padding-inline: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__item a,
.gallery__list a {
  padding-inline: 0.5em;
  margin-inline: 1em;
  transition:
    border-bottom 0.25s linear,
    color 0.25s linear;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.navbar__item--sluzby {
  position: relative;
  cursor: pointer;
}

.navbar__item--sluzby:hover .sluzby__frame {
  display: block;
}

.navbar__item--sluzby .sluzby__frame {
  display: none;
  position: absolute;
  top: 0.7em;
  left: -1.5em;
  padding: 1em;
  background-color: transparent;
  z-index: 200;
}

.navbar__item--sluzby .sluzby__frame li {
  padding: 0.3em 0;
}
.navbar__list .active,
.gallery__list .active,
.navbar__item a:hover,
.gallery__list a:hover {
  border-bottom: 1px solid var(--clr-detail);
  color: white;
}

.navbar__item--sluzby .sluzby__frame .wrapper {
  padding: 0.5em;
  background-color: var(--clr-primary);
  border-radius: 0.3125rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.752);
}

.section--hero {
  background-color: var(--clr-primary);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.488);
  margin-bottom: 10px;
}

.section--hero > * {
  height: calc(50dvh - 35px);
  min-height: 24rem;
}

.hero__tattoo,
.hero__beauty {
  display: flex;
  justify-content: space-between;
}

.hero__tattoo {
  background: var(--clr-primary);
  background: linear-gradient(
    138deg,
    var(--black-gradient) 0%,
    var(--clr-primary) 60%
  );
}

.hero__beauty {
  background: var(--clr-second);
  background: linear-gradient(
    138deg,
    var(--white-gradient) 0%,
    var(--clr-second) 60%
  );
  color: #2c2c2c;
}

.section__content,
.section__image {
  flex-basis: 50%;
  margin: 1.5em;
}

.section__image {
  opacity: 0.9;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
}

.section__image .image__banner {
  position: absolute;
  background-color: #000000ea;
  color: var(--clr-detail);
  text-indent: 1em;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition:
    background-color,
    box-shadow 0.25s;
  z-index: 100;
}

.chevron__move {
  transition: transform 0.1s;
  text-shadow: 1px 1px 2px rgba(255, 217, 0, 0.615);
}

.section__image .image__about {
  background-color: #000000da;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(90% + 1px);
  padding: 1em 2em;
}

.image__about-list .image__about-item p {
  line-height: 1.4;
  margin-bottom: 0.5em;
  padding-left: 2ch;
  position: relative;
}

.section__image .image__banner:hover {
  transition: box-shadow 0.1s;
  box-shadow: 1px 1px 4px #060012ea;
}
.section__image .image__banner:hover .chevron__move {
  transform: translateX(2px);
  text-shadow: 1px 1px 4px gold;
}

.image__about-list .image__about-item p::before {
  content: ".";
  position: absolute;
  top: -3px;
  left: 0;
}

.image__about.about--top,
.image__about.about--bottom {
  display: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: rgb(225, 225, 225);
}

.section__image .image__banner:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 1px #060012ea;
}

.hero__tattoo .section__image {
  background-image: url("/assets/img/IMG_9335_big.jpeg");
}

.hero__beauty .section__image {
  background-image: url("/assets/img/IMG_9337_big.jpeg");
}

.section__gallery {
  height: calc(100dvh - 70px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.gallery__container {
  width: 100%;
  max-width: inherit;
  min-width: inherit;
}
.gallery__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  min-height: 60px;
  background: var(--clr-primary);
  background: linear-gradient(
    138deg,
    var(--black-gradient) 0%,
    var(--clr-primary) 60%
  );
  box-shadow: 1px 1px 4px var(--black-gradient);
  margin-bottom: 10px;
}

.gallery__header h2 {
  margin: 0;
  padding-inline: 0.5em;
}

.gallery__list {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper__tattoo {
  padding: 1em;
}
.wrapper__tattoo .tattoo__list,
.wrapper__beauty .beauty__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.wrapper__tattoo .tattoo__list .tattoo__list--item,
.wrapper__beauty .beauty__list .beauty__list--item {
  flex-basis: 25%;
  transition: transform ease-in-out 0.15s;
  padding: 0.1em;
}

.wrapper__tattoo .tattoo__list .tattoo__list--item:hover,
.wrapper__beauty .beauty__list .beauty__list--item:hover {
  transform: scale(1.1);
}

.wrapper__tattoo .gallery__content,
.wrapper__beauty .gallery__content {
  width: 100%;
  aspect-ratio: 1/1;
}

.wrapper__tattoo .gallery__content img,
.wrapper__beauty .gallery__content img {
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgb(0, 0, 0);
  cursor: pointer;
  padding: 0.1rem;
}

.wrapper__beauty {
  display: none;
}

/* mediaqueries */
@media screen and (max-height: 51rem) {
  .section--hero > * {
    height: calc(100dvh - 70px);
    min-height: 24rem;
  }
}
